/*
Light Green : #7ed66f;
Medium Green : #55c57a;
Dark Green : #28b485;
*/
$color-primary: #55c57a;
$color-primary-light: #7ed66f;
$color-primary-dark: #28b485;

$color-grey-dark: #777;
$color-white: #fff;
$color-black: #000;
